Host *
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
    ServerAliveInterval 60
    ControlMaster auto
    ControlPath ~/.ssh/%r@%h-%p
    ControlPersist 600

Host github.com
    User git
    IdentityFile ~/.ssh/github_rsa
    StrictHostKeyChecking yes
